---
import Card from "./Card.astro";
import "./Cards.css";
---

<Card>
  <div class="about-card">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo sequi
      dolores numquam incidunt rem omnis quod veritatis. Nobis quod impedit
      iusto totam placeat tenetur consequatur ipsum a, voluptates dignissimos
      cum neque hic libero blanditiis iure ratione, deleniti laudantium nulla,
      numquam porro commodi repudiandae. Temporibus maxime, quisquam ab eius
      atque cupiditate soluta explicabo vel deleniti sapiente quia fugiat
      obcaecati libero molestias?
    </p>
    <img
      src="./undraw_freelancer_re_irh4.svg"
      alt="about"
      style="width: 250px;"
    />
  </div>
</Card>
