/*General styles for de main card*/
.card {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color: black;
  border-radius: 15px;
  margin-top: 1.5rem;
  padding: 3rem 2rem 3rem 2rem;
}

.card:last-child {
  border-radius: 15px 15px 0 0;
  padding: 1rem;
  margin-bottom: -5px;
}

.card h2 {
  margin-top: 0px;
}

/*Styles for the about card*/
.about-text {
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
}

.about-text p {
  font-size: 23px;
}

/*Styles for the skills card*/
.skills-card ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.skills-card img {
  width: 55px;
  transition: 0.2s all linear;
}

.skills-card#skills img:hover {
  width: 65px;
}
/*Styles for the projects card*/
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 13.5px;
  text-align: justify;
  background-color: #eaeaea;
  border-radius: 10px;
}
#project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-text p {
  height: 60px;
}

.project-card img {
  margin-top: 5px;
  border-radius: 10px;
}

/*Styles for the resume card*/
.resume-card iframe {
  width: 80%;
  border: none;
  height: 400px;
}

/*Responsive design*/
@media only screen and (max-width: 600px) {
  .card {
    font-size: 18px;
    margin-top: 1rem;
    padding: 2rem 1rem 2rem 1rem;
  }
  .about-text {
    flex-direction: column;
    align-items: center;
  }
  .skills-card ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
