/*General styles for de main card*/
.card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color: black;
  border-radius: 15px;
  margin-top: 1.5rem;
  padding: 2rem;
}

.card:last-child {
  border-radius: 15px 15px 0 0;
  padding: 1rem;
  margin-bottom: 0.5px;
}

.card h2 {
  margin-top: 0px;
}

/*Styles for the about card*/
.about-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-text p {
  max-width: 50%;
  font-size: 20px;
  margin: 1rem;
  text-align: initial;
}

.about-text img {
  max-width: 350px;
  max-height: 250px;
  align-self: center;
}

/*Styles for the skills card*/
.skills-card ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.skills-card img {
  width: 55px;
  transition: 0.2s all linear;
}

.skills-card img:hover {
  animation: vibrate 1.5s linear both;
}
/*Styles for the projects card*/
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 13.5px;
  text-align: left;
  background-color: #eaeaea;
  border-radius: 10px;
}
#project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#project-text p {
  margin-top: 0;
}

.project-card img {
  margin-top: 5px;
  border-radius: 10px;
}

/*Styles for the resume card*/
.resume-card iframe {
  width: 80%;
  border: none;
  height: 400px;
}

/*Responsive design*/

@media only screen and (max-width: 860px) {
  .about-text p {
    max-width: 100%;
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    font-size: 18px;
    margin-top: 1rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .skills-card ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
