---
import Nav from "./Nav.jsx";
import Footer from "./Footer.jsx";
import "./Layout.css";

interface Props {
  pageTittle?: string;
  pageDescription?: string;
}

const { pageTittle, pageDescription } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href=`${import.meta.env.BASE_URL}/logotype_miguel-romero.png`
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <title>Miguel Romero: {pageTittle}</title>
  </head>
  <body>
    <Nav client:only="react" />
    <div class="m-ctn">
      <slot />
    </div>
    <Footer client:visible />
  </body>
</html>
