/*Navbar basic structure*/
.navbar {
  background-color: #eee;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: -webkit-fill-available;
  top: 0px;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px black;
}

.navbar a {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}
/*Navbar logotype*/
a.brand {
  margin: 10px;
  padding: 10px;
  letter-spacing: 2.5px;
  display: flex;
  align-items: center;
  transition: 0.4s all linear;
}

.logo {
  width: 50px;
  margin-right: 10px;
  transition: 0.5s all linear;
}

a.brand:hover,
.logo:hover {
  color: rgb(115, 115, 35);
  border-radius: 15px;
}
/*Navbar list of items*/
ul.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 80%;
  justify-content: flex-end;
}

li.nav-item {
  margin-left: 15px;
  padding: 10px;
  transition: 0.3s all linear;
}

li.nav-item:hover {
  border-radius: 10px;
  background-color: #ffde59;
}

/*Navbar button on screen less than 600px*/
button.btn-menu {
  display: none;
  background-color: #330033;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

button.btn-menu:hover {
  border-radius: 20px;
  cursor: pointer;
}

.btn-menu .react-icons {
  display: block;
  color: white;
  margin: 5px 10px 0px 10px;
  width: 30px;
  height: 30px;
}

/*Responsive design*/
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 0.5rem;
  }

  button.btn-menu {
    display: block;
  }

  .navbar .navbar-nav a {
    display: block;
    padding: 1rem;
  }

  ul.navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-size: 50px;
  }
  li.nav-item {
    padding: 0;
    margin: 0;
  }
  li.nav-item:hover {
    border-radius: 0;
  }
}
