/*Navbar basic structure*/
.navbar {
  background-color: #f1eded;
  padding: 1.5rem 3rem 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*Navbar logotype*/
a.brand {
  margin: 10px;
  padding: 10px;
  letter-spacing: 2.5px;
  display: flex;
  align-items: center;
  transition: 0.4s all linear;
}

.logo {
  width: 50px;
  margin-right: 10px;
  transition: 0.5s all linear;
}

a.brand:hover,
.logo:hover {
  color: rgb(115, 115, 35);
  border-radius: 15px;
}
/*Navbar list of items*/
ul.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li.nav-item {
  margin-left: 15px;
  padding: 10px;
  transition: 0.3s all linear;
}

li.nav-item:hover {
  border-radius: 10px;
  background-color: #ffde59;
}

/*Navbar button on screen less than 600px*/
button.btn-menu {
  background-color: #330033;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  transition: 0.3s all linear;
}

button.btn-menu:hover {
  border-radius: 20px;
  cursor: pointer;
}

.btn-menu .react-icons {
  margin: 5px 10px 0px 10px;
  width: 30px;
  height: 30px;
}

/*Responsive design*/
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 1.5rem 0 1.5rem 0;
  }
  ul.navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-size: 50px;
  }
  li.nav-item {
    padding: 0px 0px 15px 15px;
    margin: 0;
  }
  li.nav-item:hover {
    border-radius: 0;
  }
}
