---
import "./Profile.css";
---

<div class="profile-card">
  <span id="start"></span>
  <div class="animated-container">
    <p class="animated-text">Miguel Romero</p>
    <p>
      Licenciatura en Informática Administrativa |UAEMéx <br /> Developer | JavaScript
      | React | Express | MySQL |MongoDB
    </p>
  </div>
  <a href="https://github.com/MiguelRomero-313" title="GitHub" target="_blank">
    <img
      src=`${import.meta.env.BASE_URL}/profile-photo.jpg`
      class="profile-photo"
      alt="Profile photo"
    />
  </a>
</div>
