.project-btn {
  border-radius: 8px;
  border-color: #330033;
  transition: 0.2s all linear;
}

.project-btn:first-child {
  margin-right: 5px;
}

.project-icons {
  width: 25px;
  height: 25px;
  padding: 5px 15px;
  color: #330033;
  transition: 0.2s all linear;
}

.project-icons:hover {
  color: white;
}
.project-btn:hover {
  background-color: #330033;
  border-radius: 15px;
}
