---
import Card from "./Card.astro";
import "./Cards.css";

const technologies = [
  "javascript",
  "typescript",
  "react",
  "css3",
  "tailwindcss",
  "sass",
  "nodejs",
  "express",
  "mysql",
  "mongodb",
];
---

<Card>
  <div class="skills-card" id="skills">
    <h2>My technical Skills</h2>
    <ul>
      {
        technologies.map((technology) => (
          <li>
            <img
              src={`https://cdn.jsdelivr.net/gh/devicons/devicon/icons/${technology}/${technology}${
                technology == "tailwindcss" ? "-plain" : "-original"
              }.svg`}
              title={technology}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Card>
